<div class="ova-footer-wrap">
  <footer class="ova-footer">
    <div class="ova-footer-inner">
      <div class="ova-footer-col">
        <div class="ova-footer-logo">
          <a href="index.html">
            <img
              src="assets/images/logoStackly.webp"
              height="50px"
              width="150px"
              alt="Stackly Logo"
            />
          </a>
        </div>
        <p class="ova-footer-about">
          Egovt theme is ideal for presenting your town, city, local
          municipality, community, business, Corporate Non profit or political
          websites as well.
        </p>
        <div class="ova-footer-socials">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="ova-footer-col">
        <h4 class="ova-footer-heading">Quick Links</h4>
        <ul class="ova-footer-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="history.html">Our History</a></li>
          <li><a href="team.html">Meet the Team</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="ova-footer-col">
        <h4 class="ova-footer-heading">Resources</h4>
        <ul class="ova-footer-links">
          <li><a href="service.html">Services</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="department.html">Department</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="ova-copyright">
    <p>Stackly &copy; 2026. All Rights Reserved</p>
  </div>
</div>
